{% extends 'base.html '%}

{% block styles %}
  <link rel="stylesheet" href="../static/styles/login.css">
{% endblock %}

{% block title %}
  Login Page
{% endblock %}

{% block content %}
    <form method="POST" class="w-25 mx-auto">
        {{ form.hidden_tag() }}
        <div class="mb-3">
          {{ form.email.label(class='form-label') }}
          {{ form.email(class='form-control')}}
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
          {{ form.password.label(class='form-label')}}
          {{ form.password(class='form-control') }}
        </div>
        {{ form.submit_btn(class='btn btn-primary') }}
    </form>
{% endblock %}
